body{
  margin-top: 8%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 8%;
  background: #F4F6F7;
}

.title{
  color: #36A57B;
  text-align: center;
}

.section_headers{
  color: #6D5B77;
  display:inline;
}

.container{
  text-align: justify;
}

.container:after {
  content: '';
  width: 100%;
  display: inline-block;
}

#email_address, #phone_number, #mailing_address{
  display: inline-block;
}


.break_line {
  border-top: 2px solid #84A4A5;
  margin-bottom: 7px;

}

h3 {
  display: inline;
}

.dates {
  float: right;
}

.details{
  font-style: italic;
}

.dates, .details, li, #email_address, #mailing_address, #phone_number, h3{
  color: #545C52;
}
