body{
  background: #E8E9EA;
}

#main{
  text-align: justified;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 8%;
}

h1{
  color: #36A57B;
  text-align: center;
}

.contact_info{
  display: inline-block;
}

.container{
  text-align: justify;
}

.container:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.section_headers{
  color: #6D5B77;
  display:inline;
}

.break_line {
  border-top: 2px solid #84A4A5;
  margin-bottom: 7px;
}

h3 {
  display: inline;
}

.dates {
  float: right;
}

.details{
  font-style: italic;
}

.main_text_color{
  color: #545C52;
}


